@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.invisible{
    display: none;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.back {
    background: linear-gradient(
            90deg, #9ec0db, #d587b3, #faf0cd, #b9deed, #ddb35f);
    background-size: 500% 500%;
    width: 100vw;
    height: 100vh;
    -moz-animation: AnimationName 90s linear infinite;
    -webkit-animation: AnimationName 90s linear infinite;
    animation: AnimationName 90s linear infinite;
    color: #000;
    cursor: default;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    overflow-y: scroll !important;
}

@keyframes AnimationName {
    0% {
        background-position: 0 96%;
    }

    50% {
        background-position: 100% 5%;
    }
    100% {
        background-position: 0 96%;
    }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.text-center {
    text-align: center !important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.prev-text .title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
}

.prev-text .address {
    font-size: 24px;
    line-height: 1.3;
    margin-top: .2em;
}

.logo img {
    width: 370px;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

form {
    display: block;
    margin-top: 0em;
}

.question-review {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.form-group {
    margin-bottom: 1rem;
}

.pl-0, .px-0 {
    padding-left: 0 !important;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.rating-radio .radio input {
    margin: 10px 0 0 20px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0 5px;
    padding: initial;
    border: initial;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}



.form-check-label {
    margin-bottom: 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

::selection {
    background: #000;
    color: #fff;
}

.d-block {
    display: block !important;
}

.rating-radio .radio .smile svg {
    font-size: 2em;
    margin-bottom: 7px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}



.rating-radio .radio:nth-child(2) .smile svg {
    transform: rotate(
            180deg
    );
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}

.rating-fields {
    background: #e1e8ed;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.rounded {
    border-radius: .25rem!important;
}

.rating-fields .question-form {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: .6em;
}



.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea, input {
    font-family: 'Roboto',Arial,sans-serif;
}

button, input {
    overflow: visible;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



textarea.form-control {
    height: auto;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}



.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

button, a {
    outline: none!important;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

.btn {
    border-radius: 5em;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    padding: .8em 2em .9em;
}

.pt-5, .py-5 {
    padding-top: 3rem!important;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.rating-radio .radio label {
    align-items: center;
    background: #000;
    border: 2px solid #000;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 400;
    height: 120px;
    justify-content: center;
    opacity: 1;
    transition: all .2s ease;
    width: 140px;
}

.rating-radio .radio:nth-child(2) label {
    background: transparent;
    color: #000;
    font-weight: 500;
    margin-left: 120px;
}


.p-3 {
    padding: 1rem!important;
}

.btn-primary {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.rating-fields .form-control {
    color: #000;
    font-size: 20px;
}

@media (max-width: 767px) {
    .logo img {
        width: 250px;
    }
    .rating-radio .radio:nth-child(2) label {
        margin-left: 40px;
    }
    .rating-radio .radio label {
        font-size: 22px;
        height: 110px;
        width: 120px;
    }

    .question-review {
        font-size: 46px;
    }

    .prev-text .title {
        font-size: 22px;
    }

    .prev-text .address {
        font-size: 18px;
        margin-top: .5em;
    }
    .rating-radio .radio .smile svg {
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    .rating-fields .question-form {
        font-size: 28px;
        margin-bottom: .5em;
    }
    .rating-fields .form-control {
        font-size: 18px;
    }
    .rating-fields textarea.form-control {
        font-size: 15px;
        line-height: 1.3;
    }

}

@media (min-width: 768px) {
    .back {
        -moz-animation: AnimationName 30s linear infinite;
        -webkit-animation: AnimationName 30s linear infinite;
        animation: AnimationName 30s linear infinite;
    }



    .container {
        max-width: 720px;
    }


    .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
    }

    .mt-md-5, .my-md-5 {
        margin-top: 3rem!important;
    }

    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    .pt-md-5, .py-md-5 {
        padding-top: 3rem!important;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
    .container {
        max-width: 540px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}